@namespace BlazorApp1.Components.Shared

<a href="@Href" target="_blank" rel="noopener noreferrer">@ChildContent</a>

@code {
    [Parameter] public string Href { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
}