@page "/career"

<PageTitle>Career</PageTitle>

<section id="career">
    <div>
        <p>career</p>
        <div class="timeline">
            <p>Employment</p>
            <div class="timeline-item">
                <p>2023.03 - 2025.09</p>
                <p><ExternalLink Href="https://www.readykorea.co.kr/">레디코리아</ExternalLink></p>
                <p>통관 전자문서 자동화 서비스</p>
                <span class="role">윈도우 프로그래머</span>
                <ul>
                    <li>프로그램 포팅 (호주 -> 한국) 및 추가개발</li>
                    <li>코드 리뷰 및 리팩토링, 테크 리딩</li>
                </ul>
            </div>

            <div class="timeline-item">
                <p>2022.05 - 2023.03</p>
                <p><ExternalLink Href="https://www.trenbe.com/">트렌비</ExternalLink></p>
                <p><a href="" target="_blank" rel="noopener noreferrer">트렌비</a></p>
                <p>해외 명품 직구 플랫폼</p>
                <span class="role">백엔드 엔지니어</span>
                <ul>
                    <li>상품 정보 크롤링, 가공, 및 서빙</li>
                    <li>프로젝트 마이그레이션 (.Net Framework -> .Net Core)</li>
                    <li>고정비용 절감 - AWS SQS, VPN 리소스 효율성 제고</li>
                </ul>
            </div>

            <div class="timeline-item">
                <p>2020.07 - 2022.04</p>
                <p><ExternalLink Href="https://toon.at/">투네이션</ExternalLink></p>
                <p>크리에이터 후원 플랫폼</p>
                <span class="role">백엔드 엔지니어</span>
                <ul>
                    <li>선물후원 기능 개발</li>
                    <li>'럭키픽' 기능 개발</li>
                    <li>후원금 정산 시스템 개발</li>
                    <li>백오피스 전반 개발</li>
                </ul>
            </div>
            <p>Education</p>
            <div class="timeline-item">
                <p>2022.05 - 2023.03</p>
                <p>경기대학교 컴퓨터과학과</p>
                <ul>
                    <li>C 프로그래밍</li>
                    <li>데이터베이스</li>
                    <li>소프트웨어 공학</li>
                    <li>알고리즘</li>
                    <li>자료구조론</li>
                    <li>자바 프로그래밍</li>
                    <li>컴퓨터 교육론</li>
                    <li>컴퓨터 네트워크</li>
                    <li>컴퓨터 보안</li>
                    <li>프로그래밍 언어론</li>
                </ul>
            </div>
        </div>
    </div>
</section>